---
layout: base
title: Liu Huan
excerpt: Liu Huan | 刘欢
---

{%- if site.author.type == 'organization' -%}
  {%- assign _author_itemtype = 'http://schema.org/Organization' -%}
{%- else -%}
  {%- assign _author_itemtype = 'http://schema.org/Person' -%}
{%- endif -%}

<div itemscope itemtype="{{ _author_itemtype }}" class="home">
  <div class="main">
    <div class="content">
      <div class="my-photo">
        <img itemprop="image" alt="my photo" src="http://wx4.sinaimg.cn/mw690/0071xP9Cgy1fua6raqw1vj30qo0qomzu.jpg" />
      </div>
      <h1 itemprop="name" class="title-text">{{ site.author.name }}</h1>
      {% include author-links.html author=site.author %}
      <p><a itemprop="url" class="social-link blog" title="进入博客." href="/blog" target="_self">进入博客</a></p>
    </div>
  </div>
</div>
<script>{%- include scripts/common.js -%}</script>
{% include analytics.html %}
